apptools >=4.5.0
click
colorcet
colorlog
cython
dataclasses
datajoint
flake8
globus-sdk
graphviz
h5py
iblutil
jupyter
jupyterlab
matplotlib
mtscomp
numba
numpy
opencv-python
ONE-api
pandas
pillow
pip
plotly
pyarrow
pyflakes >= 2.4.0
pynrrd
pyopengl
pyqt5 >= 5.12.0
pyqtgraph
pytest
requests
scikits-bootstrap
scikit-learn
scipy >=1.4.1
seaborn
SimpleITK
soundfile
statsmodels
tqdm
mayavi  # ensure all the mayavi requirements are met prior to attempting installation
