apptools >=4.5.0
click
colorcet
colorlog
cython
dataclasses
datajoint
flake8
globus-sdk
graphviz
h5py
iblapps
iblutil
jupyter
jupyterlab
matplotlib
mtscomp
nbformat
numba
numpy
opencv-python # macOS 10.13 and prior are incompatible with modern versions of opencv
ONE-api
pandas
pillow
plotly
pyarrow
pyflakes >= 2.4.0
pynrrd
pyopengl
pyqt5 >= 5.12.0
pyqtgraph
pytest
requests
scikits-bootstrap
scikit-learn
scipy >=1.4.1
seaborn
SimpleITK
soundfile
sphinx_gallery
statsmodels
tqdm
