name: Clean up
on:
  workflow_dispatch:  # manual trigger to kick off workflow
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"

jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        run: |
          echo "Disk space before cleanup:"
          df -h
      
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/lib/jvm
      
          docker system prune -af || true
      
          echo "Disk space after cleanup:"
          df -h
      - name: Explore home/runner directory
        run: |
            echo "Contents of /home/runner:"
            ls -la /home/runner/actions-runner/cached
          
